
/* Your CSS Code here. */

.moviePic {
	    height: 400px;
	    width: 300px;
	    opacity: 0.8;
	}

.movieDetail {
	    position: absolute;
	    top: 50%;
	    width: 80%;
	    text-align: center;
	    font-size: 18px;
	}